<li class="bnt-free default-1">
	<a href="/new-user-membership" class="btn btn-success">Register</a>
</li>
<div class="card" style="width:18rem">
    <img class="card-img-top" src="{{ doc.image }}">
	<div class="card-body">
		<h5 class="card-title">{{ doc.activity_name }}</h5>
	</div>

	<a href="{{doc.route}}" class="btn btn-success">View</a>
	
</div>


<!-- <!DOCTYPE html>
<html>
	<head>
		<title>
			{{ doc.activity_name }}
		</title>
		
		<style>
			body{
				/* width: 500px;
				height: 150px; */
				 /* border: 3px solid green; */
			}
			#content{
				padding: 15px 0;
				text-align: center;
			}
		</style>
	</head>
	
	<body>
		<div id="content" style="width:25rem">
			<img class="card-img-top" src="{{ doc.image }}">

		<div id="content">
			<h1 style = "color:green;" >
				{{ doc.activity_name }}
			</h1>
				
			<a href="{{doc.route}}" class="btn btn-success">View</a>
		</div>
	</body>
</html>					 -->
